#header {
  top: auto;
  z-index: 0;
  background-color: #37517e;
}

#highlighted {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

#highlighted .container {
  background-color: #bae3f7;
}

.nav-tabs .nav-link {
  color: #37517e;
}

.nav-tabs .nav-item:hover {
  background-color: #e7edf1;
}