{#
/**
 * @file
 * Default theme implementation of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 *
 * @ingroup themeable
 */
#}
<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
  <img{{ attributes }} />
</div>
