/* Make main menu header visible. Also makes admin toolbar
 work properly
 */
#header {
  top: auto;
}
.toolbar .toolbar-bar {
  z-index: 1000;
}

/* Style status messages (in Highlighted region) */
section#highlighted {
  padding-top: 0;
  padding-bottom: 0;
  color: #37517e;
}
[data-drupal-messages] {
  padding-top: 2rem;
}
[data-drupal-messages] .placeholder {
  background-color: transparent;
  vertical-align: top;
}

/* Style Primary tab links */
.nav-tabs .nav-link {
  color: #37517e;
}
.nav-tabs .nav-item:hover {
  background-color: #e7edf1;
}

/* Footer menu headers */
h2#block-arsha-usefullinks-menu, h2#block-arsha-ourservices-menu {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

/* Our Social Networks Icons */
#footer .footer-top .social-links a {
  font-size: 9px;
}

/* Adjust accoridion item styling */
.why-us .accordion-list li {
  margin-top: 0.8rem;
}
.faq .faq-list li {
  margin-top: 0.8rem;
}

/* Ensure Twig dump() output is the same size */
pre.sf-dump span {
  font-size: 0.875rem !important;
  font-weight: normal !important;
}